<div class="col-md-5">
<%= simple_form_for(@user_profile) do |f| %>
  <%= f.error_notification %>
	
  		<div class="form-group">
  
    		<%= f.input :profile_pic, input_html: { class: 'form-control'} %>
  
  		</div>
  		<div class="form-group">
  
    		<%= f.input :facebook, input_html: { class: 'form-control'} %>
  
  		</div>
  		<div class="form-group">
  
    		<%= f.input :twitter, input_html: { class: 'form-control'} %>
  
  		</div>
  		<div class="form-group">
  
    		<%= f.input :bio, input_html: { class: 'form-control'} %>
  
  		</div>
  		

  
    <%= f.button :submit %> <%= link_to 'Back', user_profiles_path, class: 'btn btn-warning' %>
  
<% end %>
</div>